body {
    width: 976px; margin: 5px auto;
    font-family: Trebuchet MS, Verdana, sans-serif;
 }
 
 h1.titre { text-align: center; color: white; background-color: #EC4C4E; margin-top: 0px;}
 table { border-collapse: collapse; margin: 5px auto; }
 
 th { color: white; background-color: #EC4C4E; border: thin solid #E43134;}
 td { font-size: .92em; border: thin solid #E43134; }
 th, td { padding: 3px 5px; vertical-align: middle; }
 
 /* Pour les formulaires */
 p.form { width: 700px; margin: 3px auto; }
 p.form input[type=image] { vertical-align: middle; }
 
 /* Pour les messages */
 p.message {
     font-weight: bold;
     text-align: center;
     color: #29A329;
     background-color: #81F0BC;
     border: 1px solid #29A329;
     padding: 3px 5px;
 }
 
 p.erreur {
     color: red;
     background-color: #FFA3A3;
     border: 1px solid red;
     padding: 3px 5px;
 }
 
 /* Pour les auteurs */
 p.binome {
     text-align: right; vertical-align: middle; line-height: 35px;
     font-size: 0.8em; font-style: italic; padding-right: 10px; margin: 0px;
 } 

footer {
    top: 0;
}

 section.bas {
    display: flex;
    justify-content: center;
    background-color: #2f3131;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10%;
    color: beige;
    text-align: center;
    padding: 40px;
    text-decoration: underline;
    font-size: 0.8em; font-style: italic;
  }
 